/* Note that media queries for light/dark does not work in Typedoc */
:root {
    /* Set the header bar background color */
    --light-color-background-secondary: white;
    --dark-color-background-secondary: black;

    /* Set the main background color */
    --light-color-background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff 300px), fixed 0 0 /20px 20px radial-gradient(#d1d1d1 1px, transparent 0), fixed 10px 10px /20px 20px radial-gradient(#d1d1d1 1px, transparent 0);

    --dark-color-background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 0, #000 300px), fixed 0 0 /20px 20px radial-gradient(#d1d1d1 1px, transparent 0), fixed 10px 10px /20px 20px radial-gradient(#d1d1d1 1px, transparent 0);
}
